@import "../../global.scss";
.search {
  text-align: center;
  padding: 2rem;
  h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
    color: $col-accent;
  }

  input {
    border: none;
    border-bottom: 2px solid $col-accent;
    outline: none;
    max-width: 40rem;
    width: 80%;
    height: 3rem;
    font-size: 1.8rem;
    padding: 0 1rem;
  }
}
